body {
  margin: 0px;
  padding:0px;
  background-color: var(--surface-50);
}

html {
  color:aliceblue;
}

.topbar{
  height: 50px;
  background-color: var(--surface-300);
}

.leaflet-container {
  width: 700px;
  height: 600px;
}